<!doctype html>

<html lang="en" dir="ltr">
  <head>
    <!-- Add meta charset below -->
    <meta charset="UTF-8" />

    <!-- Add meta name below -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Add page title below -->
    <title>The Charmed Operator Framework</title>

    <!-- Add preconnect/dns-prefetch below -->
    <link rel="preconnect" href="https://assets.ubuntu.com">
    <!-- <link rel="dns-prefetch" href="http://www.spreadfirefox.com/"> -->

    <!-- Add inline JS below -->
    <script>// Inline JS</script>

    <!-- Add stylesheet below -->
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/styles.css" />
    <link
      rel="shortcut icon"
      href="https://assets.ubuntu.com/v1/751b08fb-favicon.ico"
      type="image/x-icon"
    />

    <!-- Add preload below -->
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2" href="https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2" crossorigin>

    <!-- Add script below -->
    <!-- <script src=""></script> -->

    <!-- Add prefetch/prerender below -->
    <!-- <link rel="prefetch" href="/style.css" as="style" />
    <link rel="prerender" href="https://example.com/about.html" /> -->
  </head>

  <body>
    <!-- Add navigation below -->
    <main>
      <!-- Add main content below -->
      <div class="p-strip">
        <div class="row">
          <div class="col-6 col-start-large-4">
            <div class="p-card--outline">
              <img src="https://assets.ubuntu.com/v1/6e94860c-menu-icon--product-juju.svg" alt="" style="display: block; width: 50px;">
              <h1 class="p-heading--three">The Charmed Operator Framework</h1>
              <p class="p-heading--four">The Charmed Operator Framework provides a simple, lightweight, and powerful way of writing charmed operators, the best way to encapsulate operational experience in code.</p>
              <ul class="p-inline-list u-sv3">
                <li class="p-inline-list__item"><a href="https://juju.is/" class="p-button--neutral">What is the Charmed Operator Framework?</a></li>
                <li class="p-inline-list__item"><a href="https://juju.is/docs" class="p-button--outline">Docs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- Add footer below -->
  </body>
</html>
